@{
    ViewData["Title"] = "Home Page";
}

@* Orijinal kısım *@
@* <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis text-danger fw-bold">Continue reading...</a></p>
    </div>
  </div>  *@
@* orijinal kısmın bitişi *@

<style>


    .object-fit-cover {
        object-fit: cover; /* Video/Görsel ekrana tam otursun */
    }

    .post-card {
        border-radius: 12px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

        .post-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
        }

    .post-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .profile-img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid #ddd;
    }

</style>

@section Scripts{
    <script>
        showAlertSuccess('successAlert');
        showAlertError('errorAlert');
    </script>
}
@if (TempData["AccessDeniedDescription"] != null)
{
    <div div id="errorAlert" class="custom-alert alert-danger">
        @TempData["AccessDeniedDescription"]
    </div>
}


@if (TempData["Succeed"] != null)
{
    <div id="successAlert" class="custom-alert alert-success">
        <i class="fa-solid fa-check"></i>
        @TempData["Succeed"]!.ToString()
    </div>
}
else if (TempData["Failed"] != null)
{
    <div id="errorAlert" class="custom-alert alert-danger">
        <i class="fa-solid fa-xmark"></i>  @TempData["Failed"]!.ToString()
    </div>
}
<div class="position-relative overflow-hidden rounded">
    <!-- Video Arka Plan -->
    <video autoplay muted loop class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover">
        <source src="~/img/Ufo361 - „Favourite Artist“.mp4" type="video/mp4">
    </video>

    <!-- Karartma Efekti -->
    <div class="overlay"></div>

    <!-- İçerik Alanı -->
    <div class=" p-md-5 mb-4 rounded text-white position-relative content-box">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Ufo361</h1>
            <p class="lead my-3">
                Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.
            </p>
            <p class="lead mb-0">
                <a href="#" class="text-danger fw-bold">Continue reading...</a>
            </p>
        </div>
    </div>
</div>



<div class="row mb-2">
    <div class="col-md-6 mt-4">
        <div class="post-card shadow-sm rounded overflow-hidden">
            <div class="row g-0">
                <!-- Görsel Kısmı -->
                <div class="col-md-4">
                    <img src="~/img/3.jpeg" class="post-img img-fluid h-100" alt="Post Image">
                </div>
                <!-- İçerik Kısmı -->
                <div class="col-md-8 d-flex flex-column justify-content-between p-4 bg-light">
                    <div>
                        <!-- Başlık ve Kategori -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="mb-0">Entity Framework Core</h3>
                            <span class="badge bg-primary">Technology</span>
                        </div>

                        <!-- Kullanıcı Bilgisi -->
                        <div class="d-flex align-items-center mb-3">
                            <img src="~/img/ben2.jpg" class="profile-img rounded-circle me-2" alt="User Profile" style="width: 40px; height: 40px;">
                            <span class="fw-bold">John Doe</span>
                        </div>

                        <!-- Tarih -->
                        <div class="mb-3 text-muted small">Nov 12</div>

                        <!-- Açıklama -->
                        <p class="mb-3 text-secondary">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                        <div class="d-flex justify-content-between">

                            <a href="#" class="btn btn-outline-dark btn-sm fw-bold align-self-start">Continue Reading →</a>
                            <div class="d-flex me-2">
                                <div class="d-flex me-2 align-items-center">
                                    <i class="bi bi-chevron-up me-1"></i>
                                    926
                                </div>
                                <div class="d-flex align-items-center">
                                    <i class="bi bi-chevron-down me-1"></i>
                                    32
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6 mt-4">
        <div class="post-card shadow-sm rounded overflow-hidden">
            <div class="row g-0">
                <!-- Görsel Kısmı -->
                <div class="col-md-4">
                    <img src="~/img/1.webp" class="post-img img-fluid h-100" alt="Post Image">
                </div>
                <!-- İçerik Kısmı -->
                <div class="col-md-8 d-flex flex-column justify-content-between p-4 bg-light">
                    <div>
                        <!-- Başlık ve Kategori -->
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h3 class="mb-0">Entity Framework Core</h3>
                            <span class="badge bg-primary">Technology</span>
                        </div>

                        <!-- Kullanıcı Bilgisi -->
                        <div class="d-flex align-items-center mb-3">
                            <img src="~/img/ben2.jpg" class="profile-img rounded-circle me-2" alt="User Profile" style="width: 40px; height: 40px;">
                            <span class="fw-bold">John Doe</span>
                        </div>

                        <!-- Tarih -->
                        <div class="mb-3 text-muted small">Nov 12</div>

                        <!-- Açıklama -->
                        <p class="mb-3 text-secondary">
                            This is a wider card with supporting text below as a natural lead-in to additional content.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between">

                        <a href="#" class="btn btn-outline-dark btn-sm fw-bold align-self-start">Continue Reading →</a>
                        <div class="d-flex me-2">
                            <div class="d-flex me-2 align-items-center">
                                <i class="bi bi-chevron-up me-1"></i>
                                926
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="bi bi-chevron-down me-1"></i>
                                32
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                From the Firehose
            </h3>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Sample blog post</h2>
                <p class="blog-post-meta">January 1, 2021 by <a href="#" class="text-danger">Mark</a></p>

                <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
                <hr>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h2>Blockquotes</h2>
                <p>This is an example blockquote in action:</p>
                <blockquote class="blockquote">
                    <p>Quoted text goes here.</p>
                </blockquote>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h3>Example lists</h3>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:</p>
                <ul>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ul>
                <p>And this is an ordered list:</p>
                <ol>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ol>
                <p>And this is a definition list:</p>
                <dl>
                    <dt>HyperText Markup Language (HTML)</dt>
                    <dd>The language used to describe and define the content of a Web page</dd>
                    <dt>Cascading Style Sheets (CSS)</dt>
                    <dd>Used to describe the appearance of Web content</dd>
                    <dt>JavaScript (JS)</dt>
                    <dd>The programming language used to build advanced Web sites and applications</dd>
                </dl>
                <h2>Inline HTML elements</h2>
                <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" class="text-danger">Mozilla Developer Network</a>.</p>
                <ul>
                    <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
                    <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>
                    <li>Abbreviations, like <abbr title="HyperText Markup Language">HTML</abbr> should use <code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code>, with an optional <code class="language-plaintext highlighter-rouge">title</code> attribute for the full phrase.</li>
                    <li>Citations, like <cite>— Mark Otto</cite>, should use <code class="language-plaintext highlighter-rouge">&lt;cite&gt;</code>.</li>
                    <li><del>Deleted</del> text should use <code class="language-plaintext highlighter-rouge">&lt;del&gt;</code> and <ins>inserted</ins> text should use <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code>.</li>
                    <li>Superscript <sup>text</sup> uses <code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code> and subscript <sub>text</sub> uses <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code>.</li>
                </ul>
                <p>Most of these elements are styled by browsers with few modifications on our part.</p>
                <h2>Heading</h2>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h3>Sub-heading</h3>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <pre><code>Example code block</code></pre>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
            </article>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">Another blog post</h2>
                <p class="blog-post-meta">December 23, 2020 by <a href="#" class="text-danger">Jacob</a></p>

                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <blockquote>
                    <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
                </blockquote>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h3>Example table</h3>
                <p>And don't forget about tables in these posts:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Upvotes</th>
                            <th>Downvotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alice</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Bob</td>
                            <td>4</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Charlie</td>
                            <td>7</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Totals</td>
                            <td>21</td>
                            <td>23</td>
                        </tr>
                    </tfoot>
                </table>

                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
            </article>

            <article class="blog-post">
                <h2 class="display-5 link-body-emphasis mb-1">New feature</h2>
                <p class="blog-post-meta">December 14, 2020 by <a href="#" class="text-danger">Chris</a></p>

                <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <ul>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ul>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
            </article>

            <nav class="blog-pagination" aria-label="Pagination">
                <a class="btn btn-outline-danger rounded-pill" href="#">Older</a>
                <a class="btn btn-outline-dark  rounded-pill " aria-disabled="true">Newer</a>
            </nav>

        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div>
                    <a href="https://x.com/gorkemkayaz">
                        <video src="/img/kayasdev.mp4" style=";width:100%" autoplay loop muted playsinline />
                    </a>

                </div>
                <div class="p-4 mb-3 bg-body-tertiary rounded">
                    <h4 class="fst-italic">About</h4>
                    <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
                </div>

                <div>
                    <h4 class="fst-italic">Recent posts</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img src="/img/kubernetes.webp" alt="Post image" class="bd-placeholder-img" width="96" height="96">
                                <div class="col-lg-8">
                                    <h6 class="mb-0 blacktored">Kubernetes</h6>
                                    <small class="graytoblack">January 15, 2024</small>
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="/img/profile1.jpg" alt="User image" class="rounded-circle" width="30" height="30">
                                        <span class="ms-2">John Doe</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img src="/img/docker.png" alt="Post image" class="bd-placeholder-img" width="96" height="96">
                                <div class="col-lg-8">
                                    <h6 class="mb-0 blacktored">Docker</h6>
                                    <small class="graytoblack">January 14, 2024</small>
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="/img/profile2.jpg" alt="User image" class="rounded-circle" width="30" height="30">
                                        <span class="ms-2">Jane Smith</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                                <img src="/img/rabbitmq.png" alt="Post image" class="bd-placeholder-img" width="96" height="96">
                                <div class="col-lg-8">
                                    <h6 class="mb-0 blacktored">RabbitMQ</h6>
                                    <small class="graytoblack">January 13, 2024</small>
                                    <div class="d-flex align-items-center mt-2">
                                        <img src="/img/profile3.jpg" alt="User image" class="rounded-circle" width="30" height="30">
                                        <span class="ms-2">Alice Johnson</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tags-section mt-4">
                    <h4 class="fst-italic">Popular Tags</h4>
                    <hr />
                    <div class="d-flex flex-wrap gap-2">
                        <a href="#" class="badge bg-primary text-white text-decoration-none">Web Development</a>
                        <a href="#" class="badge bg-success text-white text-decoration-none">Programming</a>
                        <a href="#" class="badge bg-danger text-white text-decoration-none">Docker</a>
                        <a href="#" class="badge bg-info text-white text-decoration-none">Kubernetes</a>
                        <a href="#" class="badge bg-warning text-dark text-decoration-none">JavaScript</a>
                        <a href="#" class="badge bg-secondary text-white text-decoration-none">Machine Learning</a>
                        <a href="#" class="badge bg-dark text-white text-decoration-none">Node.js</a>
                        <a href="#" class="badge bg-primary text-white text-decoration-none">React</a>
                    </div>
                </div>




                <div class="p-4">
                    <h4 class="fst-italic border-bottom">Archives</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#" class="graytored">March 2021</a></li>
                        <li><a href="#" class="graytored">February 2021</a></li>
                        <li><a href="#" class="graytored">January 2021</a></li>
                        <li><a href="#" class="graytored">December 2020</a></li>
                        <li><a href="#" class="graytored">November 2020</a></li>
                        <li><a href="#" class="graytored">October 2020</a></li>
                        <li><a href="#" class="graytored">September 2020</a></li>
                        <li><a href="#" class="graytored">August 2020</a></li>
                        <li><a href="#" class="graytored">July 2020</a></li>
                        <li><a href="#" class="graytored">June 2020</a></li>
                        <li><a href="#" class="graytored">May 2020</a></li>
                        <li><a href="#" class="graytored">April 2020</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic border-bottom">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="https://github.com/gorkemkayas" class="blacktored">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/gorkemkayas/" class="blacktored">LinkedIn</a></li>
                        <li><a href="https://x.com/gorkemkayaz" class="blacktored">Twitter</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

<script>
        // Sayfa yüklendiğinde popup'ı göstermek için
        window.onload = function() {
            // Popup'ı göstermek için 'custom-modal' sınıfını kullan
            var modal = document.getElementById('accessDeniedPopup');
            modal.style.display = 'flex'; // Popup'ı göster
        };

        // Modal'ı kapatmak için
        document.querySelector('.custom-btn-close').onclick = function() {
            var modal = document.getElementById('accessDeniedPopup');
            modal.style.display = 'none'; // Popup'ı kapat
        };
</script>