
html, body {
    height: 100%; /* Sayfanın tam yükseklikte olmasını sağlar */
    margin: 0; /* Varsayılan margin boşluklarını kaldırır */
    display: flex;
    flex-direction: column;
}

.content {
    flex:0; /* İçeriğin geri kalan alanı kaplamasını sağlar */
}

.darktogreen {
    background-color: black !important;
}

    .darktogreen:hover {
        background-color:darkgreen !important;
        transition: color 0.5s ease-in;
    }

footer {
    background: #333; /* Arka plan rengi (isteğe bağlı) */
    color: white; /* Yazı rengi (isteğe bağlı) */
    text-align: center;
    padding: 10px;
    width: 100%;
}

body {
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
    /*font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: <200>;
    font-style: normal;*/
}

/*.nav-item{
    color:black !important;
    transition: color 0.3s ease-in;
}
.nav-item:hover
{
    color:red !important;
}*/
.login-item {
    color: black !important;
    transition: color 0.3s ease-in;
}

    .login-item:hover {
        color: black !important;
    }

.nav-item-under {
    color: black !important;
    transition: color 0.3s ease-in;
}

    .nav-item-under:hover {
        color: red !important;
    }

.blacktored {
    color: black !important;
    transition: color 0.3s ease-in;
}

.blacktored:hover {
    color: red !important;
}

.graytoblack {
    color: gray !important;
    transition: color 0.3s ease-in;
}

    .graytoblack:hover {
        color: black !important;
    }

.graytored {
    color:darkgray !important;
    transition: color 0.3s ease-in;
}

    .graytored:hover {
        color: red !important;
    }


.whitetored {
    color: white !important;
    transition: color 0.3s ease-in;
}

    .whitetored:hover {
        color: red !important;
    }

.fa-brands:hover{
    color:red !important;
}

/* Reklam alanları için stil */
.ad-left, .ad-right {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 180px; /* Reklam genişliği */
    height: 600px; /* Reklam yüksekliği */
    background-color: #f0f0f0; /* Reklam arka plan rengi */
    border: 1px solid #ccc; /* Reklam kenarlık */
    z-index: 1000; /* Diğer içeriklerin üzerinde görünmesi için */
    overflow: hidden; /* İçerik taşmasını engelle */
}



.ad-left {
    left: 1px; /* Sol kenardan boşluk */
}

.ad-right {
    right: 1px; /* Sağ kenardan boşluk */
}
.ad-left-full, .ad-right-full {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 180px; /* Reklam genişliği */
    height:600px; /* Reklam yüksekliği */
    background-color: #f0f0f0; /* Reklam arka plan rengi */
    border: 1px solid #ccc; /* Reklam kenarlık */
    z-index: 1000; /* Diğer içeriklerin üzerinde görünmesi için */
    overflow: hidden; /* İçerik taşmasını engelle */
}



.ad-left-full {
    left: 1px; /* Sol kenardan boşluk */
}

.ad-right-full {
    right: 1px; /* Sağ kenardan boşluk */
}

/* Video reklamı için stil */
.ad-video {
    width: 100%; /* Alanın genişliğini tamamen kapla */
    height: 100%; /* Alanın yüksekliğini tamamen kapla */
    object-fit: cover; /* Videoyu alanı tamamen kaplayacak şekilde ayarla */
    position: absolute; /* Konumu mutlak olarak ayarla */
    top: 0;
    left: 0;
}

.cover-photo {
    height: 300px;
    background-image: url('/img/ben3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    bottom: -75px;
    left: 50px;
    background-image: url('/img/ben2.jpg'); /* Profil fotoğrafı */
    background-size: cover;
    background-position: center;
}

.profile-info {
    margin-top: 90px; /* Profil fotoğrafının altında boşluk bırakır */
    padding: 20px;
}

    .profile-info h1 {
        font-size: 2.5rem;
    }

    .profile-info p {
        font-size: 1.2rem;
        color: #666;
    }