
body {
    font-family: "Pirata One", serif;
    font-weight: 400;
    font-style: normal;
    /*font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: <200>;
    font-style: normal;*/
}

/*.nav-item{
    color:black !important;
    transition: color 0.3s ease-in;
}
.nav-item:hover
{
    color:red !important;
}*/
.login-item {
    color: black !important;
    transition: color 0.3s ease-in;
}

    .login-item:hover {
        color: black !important;
    }

.nav-item-under {
    color: black !important;
    transition: color 0.3s ease-in;
}

    .nav-item-under:hover {
        color: red !important;
    }

.blacktored {
    color: black !important;
    transition: color 0.3s ease-in;
}

.blacktored:hover {
    color: red !important;
}

.graytoblack {
    color: gray !important;
    transition: color 0.3s ease-in;
}

    .graytoblack:hover {
        color: black !important;
    }

.graytored {
    color:darkgray !important;
    transition: color 0.3s ease-in;
}

    .graytored:hover {
        color: red !important;
    }


.whitetored {
    color: white !important;
    transition: color 0.3s ease-in;
}

    .whitetored:hover {
        color: red !important;
    }

.fa-brands:hover{
    color:red !important;
}
